.main {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 25px;
  }
  &__item {
    img {
      margin: 15px 0;
      &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        border-radius: 10px;
      }
    }

    .item-about {
      padding: 10px 0;
      p {
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: 820px) {
  .main__list {
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
  }
}
@media (max-width: 620px) {
  .main__list {
    grid-template-columns: repeat(2, 2fr);
  }
  .item-about {
    padding: 7px 0;
    text-align: center;
  }
}
