.cartList {
  width: 48%;
  &__title {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }
  &__clear {
    text-align: end;
  }
  &__total {
    text-align: right;
    @include font(16px, 600);
    color: $black;
    padding-top: 20px;
  }
}

@media (max-width: 620px) {
  .cartList {
    width: 100%;
    &__total {
      padding-top: 12px;
      font-size: 13px;
    }
  }
}