.cartList {
  width: 48%;
  &__title {
    @include font(22px, 700);
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }
  &__clear {
    @include font(15px, 400);
    color: $grey-text;
    text-align: end;
  }
  &__total {
    text-align: right;
    @include font(16px, 600);
    color: $black;
    padding-top: 20px;
  }
}
