.cartItem {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    .cartItem__svg{
      color: rgb(51, 50, 50);
    }
  }
  &__img {
    img {
      width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 7px;
    }
  }
  &__about {
    width: 280px;
  }
  &__title {
    @include font (16px, 600);
    color: $black;
  }
  &__size, &__code {
    @include font (12px, 400);
    color: $dark-grey;
  }
  &__count {
    display: flex;
    align-items: center;
    &-num {
      margin: 0 8px;
      @include font (16px, 400);
      color: $dark-grey;
    }
  }
  &__price {
    margin-left: 10px;
    @include font (16px, 400);
    color: $dark-grey;
    white-space: nowrap;
  }
  &__svg {
    color: $dark-grey;
    cursor: pointer;
  }
}